@page "/Account"
@using OnlineStore.Domain.Entities
@using OnlineStore.HttpApiClient
<h3>AccountPage</h3>
@inject IShopClient ShopClient;


<h3>Аккаунт</h3>
<br/>Имя: @account?.Name
<br/>Email: @account?.Email

@code {
    private Account? account;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        account = await ShopClient.GetAccount();
    }

}