@page "/Account"
@using OnlineStore.Domain.Entities
@using OnlineStore.HttpApiClient
@inject IShopClient ShopClient;



<h3>Аккаунт</h3>
@if (account is not null)
{
    <p>Name: @account.Name</p>
    <p>Email: @account.Email</p>
}

@code {
    private Account? account;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        account = await ShopClient.GetAccount();
    }

}